@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@font-face {
  font-family: "miami";
  src: url(assets/fonts/miami.ttf);
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  background-color: rgba(0, 0, 0, 1);
  margin: 0 auto;
}
h2 {
  font-family: var(--inter);
}
:root {
  --flex: flex;
  --space-between: space-between;
  --inter: "Inter", sans-serif;
  --pinyon: "Pinyon Script", cursive;
  --white: #ffffff;
  --orange: #e6533c;
  --gray: rgba(255, 255, 255, 0.5);
}

/* 
==================
shared style 
===============
*/
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.c-white {
  color: var(--white);
}
.fs-48 {
  font-size: 48px;
}
.fw-900 {
  font-weight: 900;
}
.pt-58 {
  padding-top: 58px;
}
.capitalize {
  text-transform: capitalize;
}
.section {
  padding-top: 58px;
  padding-bottom: 58px;
}
.section-subtitle {
  font-weight: 400;
  font-family: var(--inter);
  font-size: 14px;
  letter-spacing: .3px;
  line-height: 24px;
  color: var(--gray);
  margin-top: 10px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}
.main-inner {
  max-width: 1060px;
  margin: 0 auto;
}
.header {
  display: var(--flex);
  justify-content: var(--space-between);
}
.header-container {
  padding-top: 50px;
  background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
}
.logo {
}
.menu {
}
.dropdown-icon {
  display: none;
}
.nav {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}
.nav ul {
  display: var(--flex);
  justify-content: var(--space-between);
  gap: 50px;
}

.nav ul li a {
  font-family: var(--inter);
  text-transform: capitalize;
  padding: 8px 20px;
  color: var(--white);
  border-radius: 46px;
}

.nav ul li:nth-child(1) {
  background-color: var(--orange);
  border-radius: 46px;
}

.nav ul li:hover a {
  background-color: var(--orange);
}

.dropdown {
  display: none;
}

.dropdown .div {
  content: "";
  display: flex;
  clear: both;
  background-color: var(--white);
  height: 2px;
  width: 25px;
  flex-direction: column;
  margin: 5px 0;
}

/* hero area style starts */
.hero {
  padding: 100px 0 0 0;
  display: var(--flex);
  justify-content: var(--space-between);
  align-items: center;
}
.hero-item {
  width: 50%;
  float: left;
}
.hero-text {
  display: var(--flex);
  flex-direction: column;
  gap: 40px;
}
.hero h2 {
  color: var(--white);
  font-family: var(--inter);
  font-size: 78px;
  font-weight: 900;
  line-height: 93px;
}

.hero h2 span {
  font-family: var(--pinyon);
  font-weight: 100;
  font-size: 100px;
}

.hero p {
  color: var(--gray);
  font-family: var(--inter);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.hero-btn {
  display: var(--flex);
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
.btn {
  border-radius: 42px;
  padding: 16px 40px;
  font-family: var(--inter);
  font-weight: 600;
  line-height: 22px;
  color: var(--white);
  text-transform: capitalize;
  word-break: keep-all;
}
.btn-fill {
  background-color: var(--orange);
}
.btn-outline {
  border: 1px solid #ffffff;
}

.hero-image {
  background-repeat: no-repeat;
  position: relative;
}

.badge-tutorial {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
  display: var(--flex);
  align-items: center;
  gap: 10px;
  bottom: 60px;
  left: -95px;
}

.badge-tutorial,
.badge-free .text h3 {
  color: var(--white);
  font-family: var(--inter);
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3;
}

.circle {
  content: "";
  clear: both;
  display: block;
  height: 40px;
  width: 40px;
  background-color: var(--orange);
  border-radius: 100%;
}
.badge-free {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
  position: absolute;
  top: 150px;
  right: -100px;
}
.badge-free .text h3 {
  font-size: 30px;
}
.play {
  width: 10px;
  position: absolute;
  left: -20%;
  top: 55%;
  transform: translate(-50%, -50%);
}

/* 
===============================
change your habit style starts here 
==============================
*/
.habits {
  display: flex;
  text-align: center;
  margin-top: 30px;
}
.habit-item {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.habit-item h3 {
  margin-top: 20px;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--inter);
}
.habit-item p {
  color: var(--gray);
  font-family: var(--inter);
}

.habit-item img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

/* =======================
extra-mile style starts here
===========================
*/

.extra-mile {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  border-radius: 16px;
  margin-bottom: 100px;
}
.extra-mile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.extra-mile-img img {
  width: 366px;
  height: 312px;
  object-fit: cover;
}

/*
 ===================
 trainings and experience style 
 =========================
 */

 .gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 200px);
  margin-top: 50px;
 }
 .gallery-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
.gallery-item h4 {
  z-index: 0;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--inter);
  text-transform: capitalize;
  font-weight: 300;
}
 .item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
 }
 
 .item-1 h4{
  bottom: 20px;
  left: 20px;
 }

.item-1::before {
  content: '';
  display: block;
  clear: both;
  height: 100%  ;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(6, 255, 210, 0.5);
}
 .item-2 {
  grid-column-start: 3;
  grid-column-end: 7;
  position: relative;
 }
 .item-2 h4{
  top: 20px;
  left: 20px;
 }
 .item-2::before {
  content: '';
  display: block;
  clear: both;
  height: 100%  ;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.3);

}
 .item-3 {
  grid-column-start: 7;
  grid-column-end: 9;
  position: relative;
 }
 .item-3 h4{
  bottom: 20px;
  left: 20px;
 }
 .item-3::before {
  content: '';
  display: block;
  clear: both;
  height: 100%  ;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
 }

 .item-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
 }
 
 .item-4 h4{
  top: 20px;
  right: 20px;
 }
 .item-4::before {
  content: '';
  display: block;
  clear: both;
  height: 100%  ;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
 }
 .item-5 {
   grid-column-start: 4;
   grid-column-end: 6;
   position: relative;
  }
  .item-5 h4, .item-6 h4{
    bottom: 20px;
    left: 20px;
   }
  .item-5::before {
   content: '';
   display: block;
   clear: both;
   height: 100%  ;
   width: 100%;
   position:absolute;
   top: 0;
   left: 0;
   background: rgba(66, 255, 0, 0.3);
  }
 .item-6 {
  grid-column-start: 6;
  grid-column-end: 9;
  position: relative;
 }
 .item-6::before {
  content: '';
  display: block;
  clear: both;
  height: 100%  ;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(0, 71, 255, 0.3);
 }
/*
========================
bmi calculator style starts here
==========================
*/

.bmi-calculator {
  padding: 100px 10px;
}
.bmi-inner {
  max-width: 700px;
  margin:  0 auto;
}
@media all and (max-width: 992px) {
  .main {
    padding: 15px;
  }
  .nav ul {
    gap: 10px;
  }

  .nav ul li a {
    font-size: 14px;
    padding: 5px 12px;
  }
}
@media all and (max-width: 576px) {
  .header {
    display: block;
    border: none;
    position: relative;
    float: left;
    width: 100%;
  }
  .dropdown {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav {
    display: none;
    margin-top: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 25px;
  }

  .header:hover .nav {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
